@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.icono1::after{
    font-family: 'Material Symbols Outlined';
    content: 'diamond';

}


body{
    background-color: #F0F0F0;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contenido {
    width: 328px;
    height:662px ;
    border-radius: 5%;
    margin: 0 auto;
    background-color: white;
    font-size: 18px;
}

@media  screen and (min-width: 329px) {
    .menorBase { 
        display: none;
    }
}

.shoping::after{
    font-family: 'Material Symbols Outlined';
    content: 'shopping_cart';

}


.footer {
    display: flex;
    align-items: center;
    gap: 5%;
}

.imgURL  img {
    width: 4%;
}

.estructuraURL {
    display: flex;
    padding: 1%;
    align-items: center;
    color: white;
    background-color: black;
    text-decoration: underline;
    border-radius: 10%;
    margin: 5%;
}

.goto {
    padding: 3%;
    background-color: #000000;
    color: white;
    width: 90%;
    margin: 0 auto;
}

.contenido {
    margin: 0 auto;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    width: 100%;
}

.primer-menu {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
}
.primer-menu div {
    padding: 0.5em;
    width: 100%;
    
}

.menu-dos {
    display: flex;
    width: 15%;
    justify-content: space-between;
    
}

.menu-dos h2 {
    padding: 10px
}

.menuButon1 {
    background-color: white;
    color: black;

}

.menuButon2 {
    background-color: black;
    color: white;
}

.imgHeader {
    width: 550px;
    height: 580px;
}

.bigertext p {
    font-family: "Orbitron", sans-serif;
    font-size: 70px;
    font-weight: 400;
}

header {
    display: flex;
    align-items: start;
    margin: 0 30px;

}

.header-primercontenido {
    display: flex;
    flex-direction: column;
    gap: 10px;
    

}
.smalltext {
    font-family: "Orbitron", sans-serif;
    font-size: 18px;

}


input {
    padding: 1em;
    border: none;
}


.formu {
    display: flex;
    gap: 0;
}

.textoSPAN {
    background-color: black;
    color: white;
    padding: 0.9em;
}

.imagenes {
    padding-top: 100px;
    align-self:end;
    display: flex;
    gap: 2em;
    
}

.ordenador-mediano{
    display: flex;
    flex-direction: column;

}

main {
    padding-top: 100px;
    
}
